.footer {
    padding: 45px 0 18px;
}

.footer__inner-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 45px;
}

.footer__logo {
    justify-self: flex-start;
    max-width: 287px;
    flex-shrink: 0;
}

.footer__logo img {
    width: 100%;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    justify-content: space-between;
}

.footer__contacts-links {
    display: flex;
    justify-self: flex-end;
    align-items: center;
    gap: 36px;
}

.footer__contacts-link {
    font-size: 18px;
}

.footer__contacts-link img {
    padding-right: 7px;
}

.footer__contacts-socials {
    display: flex;
    gap: 16px;
    align-items: center;
    align-self: flex-end;
    color: var(--accent-3);
    font-weight: 600;
    font-size: 10px;
    line-height: 2.1;
    letter-spacing: 0.12em;
    text-transform: uppercase;
}

.footer__contacts-socials-links {
    display: flex;
    gap: 16px;
    align-items: center;
}

.footer__copy {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 100%;
    overflow: visible;
}

.footer__copy hr {
    flex: 1;
    border: 1px solid rgba(0, 224, 255, 0.2);
    margin: 0;
    width: 100vw;
    left: 0;
    z-index: 1;
}

.footer__copy hr:first-child {
    right: 100%;
    margin-right: 0;
    width: calc(50vw - 50% + 100px);
}

.footer__copy hr:last-child {
    left: 100%;
    margin-left: 0;
    width: calc(50vw - 50% + 100px);
}

.footer__copy p {
    display: inline-block;
    position: relative;
    background: transparent;
    white-space: nowrap;
    z-index: 2;
    margin: 0;
    padding: 0 30px;
}

.footer__dev-info {
    padding-top: 18px;
    color: var(--accent-3);
    font-weight: 600;
    font-size: 10px;
    line-height: 2.1;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    display: flex;
    justify-self: flex-end;
    align-items: center;
}