@import url(fonts.css);
@import url(reset.css);
@import url(header.css);
@import url(section-main.css);
@import url(section-causes.css);
@import url(section-ai-advantages.css);
@import url(section-nuances.css);
@import url(section-our-advantages.css);
@import url(section-plan.css);
@import url(section-author.css);
@import url(footer.css);
@import url(modal.css);
@import url(swiper-bundle.min.css);
@import url(slider.css);
@import url(scroll-up.css);
@import url(responsive.css);

:root {
    --accent: #4ABCEC;
    --accent-2: #00E0FF;
    --accent-3: #747D81;
    --b-gradient: linear-gradient(-45deg, #1F4D606E 0%, rgba(0, 224, 255, 0.49) 100%);
    --bg-layer: #1a3e4e;
    --trnstn: all .3s;
    --animated-border: border-gradient 2s ease infinite;
    --pulse: pulse-btn 4s linear infinite;
}

.global-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1000;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 7px;
    background-color: var(--bg-layer);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--accent-2);
    border-radius: 10px;
}

.body {
    font-family: "Avenir Next Cyr", sans-serif;
    font-size: 15px;
    font-weight: 450;
    line-height: 1;
    color: #FFF;
    user-select: none;
}

a {
    color: var(--accent);
    text-decoration: underline;
}

a:hover {
    color: var(--accent-2);
}

#canvas-basic {
    width: 100%;
    height: 100%;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1260px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
    position: relative;
}

.number-link {
    font-size: 18px;
    color: #FFF;
    text-decoration: none;
}

.section {
    padding: 124px 0 124px;
}

.section .main-title {
    max-width: 776px;
}

.light-btn {
    max-width: 479px;
    border-radius: 9px;
    box-shadow: 0 7px 20px -7px #00e0ff;
    background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13cdc2 100%);
    font-weight: 750;
    font-size: 12px;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 22px;
    transition: var(--trnstn);
}

.light-btn:hover {
    box-shadow: 0 7px 30px -7px #fff;
    color: #fff;
}

.dark-btn {
    background: transparent;
    border: 1px solid var(--accent-2);
    border-radius: 9px;
    font-size: 12px;
    font-weight: 750;
    color: var(--accent);
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 213px;
    padding: 22px;
    transition: var(--trnstn);
    position: absolute;
    top: 0;
    right: 0;
}

.dark-btn:hover,
.dark-btn--responsive:hover {
    box-shadow: 0 7px 20px -7px var(--accent-2) !important;
}

.dark-btn--responsive {
    display: none;
}

.main-title {
    font-weight: 500;
    font-size: 54px;
    text-transform: uppercase;
}

.text-selection {
    color: var(--accent);
}

section,
footer {
    position: relative;
}

section:not(.main, .job)::before,
footer::before {
    content: '';
    position: absolute;
    height: 4px;
    top: -1.3vh;
    left: 0;
    right: 0;
    background: #00e0ff;
    filter: blur(2px);
    z-index: 5;
    box-shadow: 0 0 24px 0 #00e0ff, 0 4px 15px 0 #4ad9ec, 0 3px 15px 0 rgba(0, 224, 255, 0.93);
}


@keyframes pulse-btn {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
        box-shadow: 0 0 18.5px 18.5px #ffffff36;
    }

    50% {
        transform: scale(1);
        box-shadow: 0 0 0 0px var(--b-gradient);
    }

    75% {
        transform: scale(1.1);
        box-shadow: 0 0 18.5px 18.5px #ffffff36;
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0px var(--b-gradient);
    }
}

@keyframes border-gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}