.body--modal-opened {
    overflow: hidden;
}

.modal {
    background: rgba(0, 0, 0, 0.7);
    z-index: 15;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body--modal-opened .modal {
    opacity: 1;
    visibility: visible;
}

.modal__window {
    display: block;
    max-width: 302px;
    border-radius: 20px;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.53);
    background: linear-gradient(313deg, #033958 0%, #0f6b78 100%);
    padding: 30px 25px 40px;
    position: relative;
}

.modal__cancel {
    position: absolute;
    width: 18px;
    height: 18px;
    top: -28px;
    right: 2px;
}

.main-title.modal__title {
    font-size: 22px !important;
}

.modal__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 19px;
    padding-top: 19px;
    max-width: 450px;
}

.field {
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.1em;
    color: var(--accent-2);
    width: 100%;
}

.field__input--background {
    background: var(--b-gradient);
    border-radius: 9px;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 0;
    animation: var(--animated-border);
    background-size: 400% 400%;
    transform: translate3d(0, 0, 0);
    margin-top: 10px;
}

.field__input {
    position: relative;
    top: 2px;
    left: 2px;
    padding: 18.5px;
    background: linear-gradient(313deg, #033958 0%, #0f6b78 100%);
    border-radius: 7px;
    width: 99%;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.1em;
    z-index: 3;
}

.field__input--padding {
    padding: 17.5px 18.5px;
}

.field__input::placeholder {
    color: #fff;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    display: none;
}
input[type="datetime-local"]::-webkit-inner-spin-button {
    display: none;
}

.modal__btn {
    margin-top: 14px;
}

@media (max-width: 500px) {
    
}