@media (max-width: 1250px) {
    .header .header__phone {
        display: none;
    }

    .modal-call {
        top: 40vh;
        left: 80vw;
    }

    .modal-call p {
        display: none;
    }


    .wa-btn {
        display: flex;
        margin-top: 5px;
    }

    .wa-insert {
        border-radius: 0 0 0 22px;
        box-shadow: 0 4px 34px 0 rgba(0, 0, 0, 0.35);
        background: linear-gradient(313deg, #0b4d69 0%, #104c54 100%);
        display: flex;
        align-items: center;
        position: absolute;
        max-width: 330px;
        height: 104px;
        top: -16vh;
        right: 0;
        z-index: 2;
        padding: 32px 20px;
        transform: translateX(100%) translateY(-100%);
        opacity: 0;
        transition: all 0.6s ease-out;
    }

    .wa-insert.active {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }

    .wa-insert .header__phone {
        width: 281px;
    }

    .wa-insert::after {
        content: "";
        position: absolute;
        background: #3b768f;
        max-width: 281px;
        width: 88%;
        height: 1px;
        opacity: 0.3;
        top: 22px;
    }

    .wa-insert::before {
        content: "";
        position: absolute;
        background: #3b768f;
        max-width: 240px;
        width: 100%;
        height: 1px;
        opacity: 0.3;
        bottom: 22px;
        right: 20px;
    }

    .wa__cancel {
        margin-left: 37px;
    }

    .main__bg--left {
        display: none;
    }

    /* -------------------------- */

    .causes__cards {
        grid-template-rows: repeat(2, auto);
        justify-self: center;
    }

    .causes__cards:first-of-type,
    .causes__cards:last-of-type {
        grid-template-columns: repeat(2, 1fr);
    }

    .causes__cards:last-of-type {
        padding-top: 22px;
    }

    .causes__cards-item::after {
        width: 98%;
        height: 96%;
        z-index: -1;
        left: 2px;
        top: 2px;
    }

    .causes__cards-item::before {
        width: 100%;
        height: 100%;
        left: -1px;
        top: -1px;
    }

    .causes__cards-item-inner {
        width: 98%;
        height: 96%;
        left: 2px;
        top: 2px;
    }

    /* ----------------------- */

    .plan__title {
        min-width: 600px;
    }
}

@media (max-width: 1100px) {
    .switcher-down {
        display: none;
    }

    .nuances__list {
        justify-self: center;
    }

    .nuances__list-item {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        position: relative;
    }

    .nuances__list-item:nth-child(n+3):nth-child(-n+4) {
        flex-direction: column;
    }
}

@media (max-width: 850px) {
    .dark-btn {
        display: none !important;
    }

    .dark-btn--responsive {
        background: transparent;
        border: 1px solid var(--accent-2);
        border-radius: 9px;
        font-size: 12px;
        font-weight: 750;
        color: var(--accent);
        text-transform: uppercase;
        text-decoration: none;
        display: flex !important;
        justify-content: center;
        align-items: center;
        justify-self: center;
        align-self: center;
        width: 180px;
        padding: 10px;
        transition: var(--trnstn);
        margin-top: 24px;
    }
}

@media (max-width: 800px) {
    .main::after {
        bottom: -67vh;
    }

    .modal-call {
        top: 50vh;
        left: 80vw;
    }

    .modal-call__btn {
        width: 63px;
        height: 63px;
    }

    .modal-call__btn img {
        width: 25px;
        height: 25px;
    }

    .main__bg--right {
        max-width: 100vw;
        left: 0;
        top: 45vh;
    }

    .main__bg--right img {
        width: 100%;
        height: auto;
    }

    .main__content {
        padding: 50px 0 120px;
    }

    .main__title {
        font-size: 62px;
    }

    .main__desc {
        font-size: 16px;
        padding-bottom: 27.78px;
    }

    .main__guarantee {
        padding: 5% 0 100%;
    }

    /* -------------------------- */

    .footer__inner-top {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer__contacts-links {
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        margin-bottom: 10px;
    }

    .footer__contacts-socials {
        margin-top: 20px;
        flex-direction: column;
        justify-self: center;
        align-self: center;
        align-items: normal;
        text-align: center;
    }

    .footer__contacts-socials p {
        display: none;
    }

    .footer__contacts-socials-links {
        align-items: normal;
    }

    .footer__dev-info {
        flex-direction: column;
        justify-self: center;
    }
}

@media (max-width: 700px) {
    .nuances__list {
        grid-template-columns: repeat(2, 1fr);
        gap: 22px;
        padding-top: 40px;
    }

    /* ------------------------------- */

    .accordion-list__item::before {
        left: 17px;
        top: 14px;
    }

    .accordion-list__control {
        padding: 6px 10px 6px 43px;
        max-height: 200px;
    }

    .accordion-list__main-title {
        display: flex;
        justify-self: start;
        font-size: 18px;
    }


    .accordion-list__text-selection {
        display: flex;
        justify-self: start;
        padding-left: 0;
        font-size: 14px;
    }

    .accordion-list__title {
        display: flex;
        flex-direction: column;
    }

    .accordion-list__in-dev {
        font-size: 13px;
        padding-left: 0;
        margin: 4px 0 0 0;
        width: 102px;
    }

    .accordion-list__content-list {
        gap: 20px;
        padding-top: 20px;
    }
}

@media (max-width: 600px) {
    .light-btn {
        margin: 0 auto;
    }

    .header__logo {
        display: none;
    }

    .header__logo--responsive {
        display: flex;
        justify-self: center;
        z-index: 0;
        margin-top: 15px;
    }

    .wa-insert {
        margin-top: -15px;
    }

    .main__bg--top {
        display: none;
    }

    .main__guarantee-title {
        font-size: 16px;
        line-height: 1.31;
    }

    .main__guarantee-desc {
        font-size: 14px;
        font-weight: 500;
    }

    /* ------------------------------- */

    .causes__cards-item-inner::before {
        top: 93%;
    }

    .causes__cards:first-of-type,
    .causes__cards:last-of-type {
        grid-template-columns: repeat(1, 1fr);
    }

    .causes__cards:first-of-type {
        padding-top: 40px;
    }

    /* ------------------------------- */

    .ai-advantages__inner::after {
        content: "";
        background: url("../img/design/ai.png") no-repeat;
        background-size: contain;
        background-position: center;
        position: absolute;
        width: 100%;
        top: 35%;
        left: 0;
        box-shadow: inset 0 0 50px 0px #000;
        mix-blend-mode: lighten;
        transition: all 0.3s ease;
    }

    .ai-advantages__list {
        padding-bottom: 58%;
    }

    /* ------------------------------- */

    .nuances__list-item:nth-child(1) img {
        object-position: 90% 0;
    }

    /* ------------------------------- */

    .our-advantages__list {
        position: relative;
        max-width: 690px;
        display: flex;
        flex-direction: column;
        gap: 14px;
        padding: 30px 0 70%;
    }

    .our-advantages__list::after {
        content: "";
        background: url("../img/design/brain.png") no-repeat;
        background-size: contain;
        background-position: center;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 32.5vh;
        left: 0;
        box-shadow: inset 0 0 50px 0px #000;
        mix-blend-mode: lighten;
        transition: all 0.3s ease;
    }

    .our-advantages__item:nth-child(4) {
        margin-top: 0;
    }

    /* ---------------------------------- */

    .author .container {
        padding-bottom: 400px;
    }

    .author .container::before {
        content: "";
        background: url("../img/design/author.png") no-repeat center / contain;
        max-width: 284px;
        width: 100%;
        position: absolute;
        left: 20vw;
        bottom: -80%;
        z-index: 2;
    }

    .author__inner {
        padding-top: 30px;
    }

    .author__inner::after {
        display: none;
    }

    .author__inner::before {
        content: "";
        background: url("../img/design/author-bg.png") no-repeat center / cover;
        position: absolute;
        object-position: 50% 0;
        width: 100%;
        height: 400px;
        left: 0;
        bottom: -100%;
        z-index: -2;
    }
}

@media (max-width: 500px) {
    .section {
        padding: 40px 0 70px !important;
    }

    .main-title {
        font-size: 30px !important;
    }

    .modal-call {
        top: 50vh;
        left: 75vw;
    }

    .main__bg--right {
        top: 35vh;
    }

    .main__content {
        padding: 0 0 80px;
    }

    .main__title {
        font-size: 51px;
        justify-self: center;
    }

    .main__guarantee {
        padding-bottom: 100%;
    }

    .ai-advantages__inner::after {
        top: 42%;
    }

    /* ------------------------------- */

    .our-advantages__list::after {
        top: 35vh;
    }

    /* ------------------------------- */

    .plan__title {
        min-width: 400px;
    }

    /* ---------------------------------- */

    .author .container {
        padding-bottom: 370px;
    }

    .author .container::before {
        left: 10%;
        top: -15vh;
    }

    .author__inner::before {
        left: 0;
        bottom: -70%;
    }

    /* ---------------------------------- */

    .nuances__item-img {
        width: 140px;
        height: 98px;
    }

    .nuances__list-item p {
        font-size: 14px;
        line-height: 1.21;
    }

    .nuances__item-img img {
    width: calc(100% - 4px);
    height: calc(100% - 4px);
}

    /* ---------------------------------- */

    .footer__inner-top {
        display: flex;
        align-items: flex-start;
        padding-bottom: 51px;
    }

    .footer__contacts-links {
        align-items: flex-start;
        flex-direction: column-reverse;
        margin-bottom: 33px;
    }

    .footer__contacts-socials {
        margin-top: 0;
        align-self: flex-start;
    }

    .footer__copy {
        justify-content: flex-start;
    }

    .footer__dev-info {
        padding-top: 10px;
        flex-direction: row;
        justify-self: flex-start;
    }

    .footer hr {
        display: none;
    }
}

@media (max-width: 450px) {
    .our-advantages__list {
        padding-bottom: 65%;
    }

    .our-advantages__list::after {
        top: 38vh;
    }

    /* ------------------------------- */

    .plan__title {
        min-width: 330px;
    }

    .plan__desc {
        max-width: 200px;
    }

    /* ------------------------------- */

    .author .container {
        padding-bottom: 400px;
    }

    .author .container::before {
        top: -12vh;
    }
}

@media (max-width: 430px) {
    .ai-advantages__inner {
        gap: 10px;
    }

    .ai-advantages__inner::after {
        top: 55vh;
    }

    .our-advantages__list::after {
        top: 41vh;
    }
}

@media (max-width: 386px) {
    .modal-call {
        top: 40vh;
        left: 70vw;
    }

    .main__bg--right {
        top: 35vh;
    }

    .main__title {
        font-size: 48px;
    }

    .main__guarantee {
        padding-bottom: 100%;
        gap: 15px;
    }

    .main__guarantee-icon {
        width: 45px;
        height: 45px;
        border-radius: 8px;
    }

    .main__guarantee-icon img {
        width: 28px;
    }

    .main__guarantee-icon::before {
        width: 45px;
        height: 45px;
        border-radius: 6px;
    }

    .main__guarantee-icon::after {
        width: 49px;
        height: 49px;
        border-radius: 8px;
    }

    .ai-advantages__inner::after {
        top: 60vh;
    }

    .our-advantages__list::after {
        top: 49vh;
    }
}

@media (max-width: 350px) {
    .light-btn {
        padding: 15px !important;
    }

    .modal-call {
        top: 50vh;
        left: 70vw;
    }

    .main__bg--right {
        top: 45vh;
    }

    .ai-advantages__inner::after {
        top: 50%;
    }

    .ai-advantages__list {
        padding-bottom: 45%;
    }

    .author .container::before {
        top: -10vh;
    }
}