.btn-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 30px;
    left: 6vw;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.btn-up.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.btn-up p {
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 0.36em;
    text-transform: uppercase;
    color: var(--accent-2);
    margin-bottom: 109px;
    opacity: 0;
    transform: rotate(-90deg) translateX(-30px);
    transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.btn-up.show p {
    opacity: 1;
    transform: rotate(-90deg) translateX(0);
    transition-delay: 0.1s;
}

.btn-up.fixed-bottom {
    bottom: 240px;
    transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#scrollToTopBtn {
    background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13cdc2 100%);
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    animation: var(--pulse);
    transform: scale(0.8);
    transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#scrollToTopBtn.show {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

#scrollToTopBtn.fixed-bottom {
    bottom: 240px;
    transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#scrollToTopBtn:hover {
    box-shadow: 0 7px 20px -7px var(--accent-2);
    transform: scale(1.05);
}

@media (max-width: 800px) {
    .btn-up {
    left: 80%;
}
    .btn-up.fixed-bottom {
        bottom: 385px;
        transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    #scrollToTopBtn {
        width: 52px;
        height: 52px;
    }

    #scrollToTopBtn.fixed-bottom {
    bottom: 385px;
    transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

    .btn-up.show p {
        display: none;
    }
}