.author {
    position: relative;
}

.author .container::before {
    content: url("../img/design/author.png");
    position: absolute;
    left: 600px;
    top: -2vh;
    z-index: 2;
}

.author__inner {
    display: flex;
    flex-direction: column;
    gap: 37px;
    max-width: 500px;
    padding-top: 53px;
    position: relative;
    z-index: 1;
    box-shadow: inset 1px 0 16px 41px #08262b;
    mix-blend-mode: lighten;
}

.author__inner::after {
    content: url("../img/design/author-bg.png");
    position: absolute;
    left: 507px;
    top: -4vh;
    z-index: -2;
    opacity: 0.5;
    transform: scale(1.1);
}

.author__text {
    font-weight: 500;
    line-height: 1.6;
}