.our-advantages__title {
    max-width: 871px;
}

.our-advantages__list {
    position: relative;
    max-width: 690px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 38px 0 53px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.44;
}

.our-advantages__list::after {
    content: url("../img/design/brain.png");
    position: absolute;
    z-index: -1;
    box-shadow: inset 100px 0 143px 76px #000;
    mix-blend-mode: lighten;
    top: -10vh;
    left: 499px;
}

.our-advantages__item {
    display: flex;
    position: relative;
}

.our-advantages__item:nth-child(4) {
    margin-top: 45px;
}

.our-advantages__item::before {
    content: url("../img/design/icon/circle-check-mark-list-icon.svg");
    margin-right: 21px;
}

.our-advantages__item::after {
    content: url("../img/design/border-eclipse.svg");
    position: absolute;
    width: 100%;
    height: 100%;
    left: 35px;
    top: 6px;
}

.our-advantages__item p {
    padding-top: 11px;
}