.causes__cards {
    display: grid;
    gap: 22px;
    grid-template-rows: 1fr;
}

.causes__cards:first-of-type {
    padding-top: 58px;
    grid-template-columns: repeat(4, 285px);
}

.causes__cards:last-of-type {
    padding-top: 22px;
    grid-template-columns: repeat(3, 387px);
}

.causes__cards-item {
    position: relative;
}

.causes__cards-item::after {
    content: "";
    position: absolute;
    background: var(--bg-layer);
    border-radius: 18px;
    width: 97%;
    height: 96%;
    z-index: -1;
    left: 4px;
    top: 2px;
}

.causes__cards-item::before {
    content: "";
    position: absolute;
    background: var(--b-gradient);
    background-size: 150% 150%;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    z-index: -2;
    left: -1px;
    top: -1px;
    animation: var(--animated-border);
}

.causes__cards-item img {
    width: 50px;
    height: 50px;
}

.causes__cards-item-inner {
    background: linear-gradient(180deg, #063a45 0%, #073039 100%);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    position: relative;
    width: 97%;
    height: 96%;
    padding: 36px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    left: 4px;
    top: 2px;
}

.causes__cards-item-inner::before {
    content: url("../img/design/border-eclipse.svg");
    position: absolute;
    top: 180px;
    left: 42px;
    z-index: 2;
}

.causes__cards-text {
    padding-top: 18px;
}