/* CSS made by Karimov (maybe) */

/* ===GLOBAL STYLES PARAMETERS=== */

:root {
    --blue: #1d6fb6;
    --white: #F8FCFF;
    --gray: #D0DCE7;
    --black: #25282b;
}

body {
    background: var(--white);
    font-family: "Montserrat", "Arial", "Helvetica", sans-serif;
    font-weight: 500;
    line-height: 1.5;
}

a:hover {
    color: var(--blue);
    text-decoration: underline;
}

.container {
    max-width: 1230px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/* ===HEADER STYLES PARAMETERS=== */

.header {
    max-height: 108px;
    color: var(--black);
    font-weight: 400;
    display: grid;
    grid: none / 1fr auto 1fr;
    column-gap: 10px;
    padding: 30px 0;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__nav-links {
    justify-content: start;
}

.header__link {
    display: inline-flex;
    padding: 0 30px 0 0;
    flex-wrap: nowrap;
}

.header__link:last-child {
    padding: 0;
}

.logo {
    width: 54px;
}

.socials {
    justify-content: end;
}

.social__links {}

/* ===HERO-SECTION STYLES PARAMETERS=== */

.hero {
    display: block;
    position: relative;
    padding: 120px 0;
    background: #102e49cc;
    color: var(--white);
}

.hero__path {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    font-weight: 600;
    font-size: 52px;
    margin-bottom: 30px;
}

.hero__list {
    font-weight: 400;
    font-size: 24px;
    padding: 0 0 40px 0;
}

.hero__list-item {
    display: flex;
    gap: 18px;
    align-items: center;
    margin-bottom: 15px;
}

.hero__list-item:last-child {
    margin-bottom: 0;
}

.hero__list-item:hover {
    color: var(--blue);
    text-decoration: underline;
}

.hero__list-item:hover path {
    fill: var(--blue);
}

.btn {
    background: var(--gray);
    color: var(--blue);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-btn {
    max-width: 288px;
    width: 100%;
    height: 56px;
}

.btn:hover {
    background: #83ADD3;
    color: var(--white);
    text-decoration: underline;
    transition: all .2s;
}

.video-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    z-index: -1;
}

/* ===MAIN STYLES PARAMETERS=== */

.main__path {
    padding: 120px;
}

.main__wrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
}

/* ===SIDEBAR PARAMETERS=== */

.main__sidebar {
    border: 2px solid var(--gray);
    max-width: 282px;
    width: 100%;
    min-height: 70vh;
    height: 100%;
    position: sticky;
    top: 5px;
}

.sidebar__links {
    padding: 30px 30px 0 30px;
    list-style-type: none;
}

.sidebar__link {
    color: var(--black);
    padding-bottom: 20px;
}

.sidebar__link:hover {
    color: var(--blue);
}

/* ===MAIN SECTION PARAMETERS=== */

.main__section {
    max-width: 792px;
    width: 100%;
}

.gallery {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    gap: 24px;
    grid-auto-flow: dense;
    padding-bottom: 120px;
}

.gallery_item {
    position: relative;
    overflow: hidden;
}

.gallery_item img {
    width: 100%;
}

.gallery_item--large-left {
    grid-area: span 2 / span 2;
}

.gallery_item--large-right {
    grid-area: 3 / 3 / span 2 / span 2;
}

.gallery__item-link {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1d6fb6b3;
    color: var(--white);
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    opacity: 0;
    transition: all .5s;
}

.gallery_item:hover .gallery__item-link {
    transform: translateY(0%);
    opacity: 1;
}

.gallery__item-link:hover {
    background: var(--white)b3;
    color: var(--blue);
}

.gallery_item--large-left .gallery__item-link,
.gallery_item--large-right .gallery__item-link {
    font-size: 24px;
    height: 103px;
}

.cards {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 24px;
    grid-auto-flow: dense;
}

.cards__item {
    position: relative;
}

.card-pic {
    position: relative;
    padding-bottom: 61.5%;
}

.card-pic img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.card__item-badge {
    top: 12.71%;
    padding: 18px 29px;
    text-align: center;
    border-radius: 0 100px 100px 0;
    min-width: 33.855%;
    max-height: 56px;
    background: var(--white);
    color: var(--blue);
    position: absolute;
    animation: badge-move 2s infinite alternate;
}

@keyframes badge-move {
    0% {
        min-width: 33.855%;
    }

    66.666% {
        min-width: 33.855%;
    }

    100% {
        min-width: 36.46%;
    }
}

.cards__place-btn {
    padding: 30px 48px;
    border: 1px solid var(--gray);
    left: 0;
    right: 0;
}

.cards__btn {
    max-width: 289px;
    width: 100%;
    height: 56px;
}

/* ===FOOTER STYLES PARAMETERS=== */

.footer {
    background: #788088;
    color: var(--white);
    font-weight: 400;
    padding: 30px 0;
}

.footer__path {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}