/* === GLOBAL STYLES === */

:root {
    --white: #fff;
    --turquoise: #0DB7C4;
    --gray: #3f3f3f;
    --tur-tr: #0db7c44d;
    --wh-tr: #f0f0f0b3;
    --border: #ebebeb;
    --list: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%230db7c4' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='feather feather-circle'%3e%3ccircle cx='12' cy='12' r='10'%3e%3c/circle%3e%3c/svg%3e");
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 10px;
    background-color: var(--white);
}

html::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--turquoise);
}

html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #00000033;
    border-radius: 10px;
    background-color: var(--white);
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    color: var(--gray);
    background: var(--white);
}

.container {
    max-width: 1330px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

a {
    color: var(--turquoise);
    transition-duration: .3s;
}

a:hover {
    color: var(--turquoise);
    transition-duration: .3s;
}

.btn {
    background: var(--tur-tr);
    color: var(--gray);
    display: block;
    padding: 15px;
    border-radius: 5px;
}

.btn:hover {
    background: var(--turquoise);
    color: var(--white);
}

p,
.service-item {
    font-size: 1.5rem;
}

section:not(.main-section) {
    padding: 10vh 0;
}

h2 {
    font-size: 3rem;
    font-weight: 600;
    padding: 40px;
}

h3 {
    font-size: 2rem;
}

section ul {
    padding-top: 5vh;
    justify-content: center;
}

.card {
    padding: 3vh;
    border: 1px solid var(--border);
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px var(--border);
}

.partner-title {
    padding: 10vh 0 0 2vw;
    color: var(--turquoise);
}

.item-header {
    display: flex;
    gap: 1vw;
}

.service-item::before,
.reg-desc__item::before,
.client-desc__item::before {
    content: "";
    background-image: var(--list);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 0;
}

/* === HEADER STYLES === */

.header {
    background: var(--white);
    width: 100%;
    padding: 0 15px;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
}

.fixed-header header {
    top: -100px;
    transition: .3s ease-in-out;
}

.fixed-header .show {
    transition: .3s ease-in-out;
    top: 0;
}

.header-nav {
    max-width: 95vw;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.header-logo {
    max-width: 300px;
    width: 100%;
}

.header__nav-links {
    font-size: 1rem;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    gap: 1vw;
}

.header-link {
    display: block;
    justify-content: center;
}

.header-link a {
    color: var(--gray);
}

.header-link a:hover {
    color: var(--turquoise);
}

.header-btn {
    display: block;
    color: var(--gray);
}

/* === MAIN SECTION STYLES === */

.main-section {
    background: linear-gradient(to right, var(--white) 45%, rgba(255, 255, 255, 0) 80%);
    position: relative;
    min-height: 100vh;
}

.main-bg {
    background-image: url('../img/main-ban.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.main__content {
    padding-top: 87.59px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 35vw;
    min-height: 100vh;
}

.main-title {
    font-size: 4.5rem;
    font-weight: 600;
}

.main-desc {
    padding-top: 40px;
}

.main-buttons {
    display: flex;
    gap: 20px;
    padding-top: 40px;
}

/* === ABOUT SECTION STYLES === */

.about_desc {
    text-indent: 2vw;
    line-height: 2.5rem;
}

/* === ADVANTAGES SECTION STYLES === */

.advantages__inner {
    display: grid;
    grid: repeat(2, 1fr) / repeat(3, 400px);
    grid-auto-flow: dense;
    gap: 5vh;
}

.advantage-item {
    gap: 30px;
}

.advantage-icon {
    width: 80px;
    height: 80px;
}

.advantage-title {
    align-content: center;
}

.advantage-desc {
    padding-top: 3vh;
}

/* === SERVICE SECTION STYLES === */

.services-inner {
    display: grid;
    grid: auto / repeat(2, 1fr);
    grid-auto-flow: dense;
    gap: 5vh;
}

.service-item {
    padding-left: 30px;
    position: relative;
}

/* === REGISTRATION SECTION STYLES === */

.reg-inner {
    display: grid;
    grid: auto / repeat(3, 1fr);
    grid-auto-flow: dense;
    gap: 5vh;
}

.reg-item {
    display: flex;
    flex-direction: column;
}

.reg-number {
    font-size: 4em;
    color: var(--turquoise);
}

.reg-desc {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.reg-desc__item,
.client-desc__item {
    font-size: 1.5rem;
    padding-left: 30px;
    position: relative;
}

.reg-title {
    align-self: center;
}

/* === CLIENT SECTION STYLES === */

.client-desc {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.client-logo {
    display: grid;
    grid: auto / repeat(3, 200px);
    align-items: center;
    gap: 5vh;
}

.client-logo__item {
    width: 200px;
}

/* === CONTACT SECTION STYLES === */

.contact-section{
    position: relative;
}

.contact__items {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.contact-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4vh;
}

.contact-icon {
    background: var(--border);
    border-radius: 100px;
    padding: 10px;
}

.contact-icon svg {
    width: 50px;
    height: 50px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.contact-desc,
.contact-desc a {
    color: var(--turquoise);
}

.contact-qr {
    position: absolute;
    top: 12vh;
    left: 70vw;
}

/* === FOOTER STYLES === */

.footer {
    padding: 5vh 0;
    background: var(--turquoise);
    color: var(--white);
}

.footer-inner {
    display: flex;
    justify-content: space-between;
}

.footer__col-1 {
    max-width: 300px;
    width: 100%;
}

.footer__logo {
    max-width: 300px;
    background: var(--white);
    padding: 5px;
    border-radius: 10px;
}

.footer__desc {
    padding-top: 15px;
    font-size: 1.2rem;
}

.footer__links a {
    color: var(--white);
}

.footer__links a:hover {
    text-decoration: underline;
}

.footer__link {
    line-height: 2em;
}

.footer__col-2 .footer__link {
    position: relative;
    padding-left: 30px;
}

.footer-col__title {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10px 0;
}

.footer__link::before {
    content: '';
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 8px;
    left: 0;
}

.phone-icon-white::before {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' class='feather feather-phone'%3e%3cpath d='M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z'%3e%3c/path%3e%3c/svg%3e");
}

.inbox-icon-white::before {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' class='feather feather-inbox'%3e%3cpolyline points='22 12 16 12 14 15 10 15 8 12 2 12'%3e%3c/polyline%3e%3cpath d='M5.45 5.11L2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z'%3e%3c/path%3e%3c/svg%3e");
}

.btn-up {
    position: fixed;
    background-color: var(--white);
    right: 20px;
    bottom: 20px;
    border-radius: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    transition: opacity 0.3s ease-in-out;
}

.btn-up::before {
    content: "";
    width: 70px;
    height: 70px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 24 24' fill='none' stroke='%230db7c4' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' class='feather feather-arrow-up-circle'%3e%3ccircle cx='12' cy='12' r='10'%3e%3c/circle%3e%3cpolyline points='16 12 12 8 8 12'%3e%3c/polyline%3e%3cline x1='12' y1='16' x2='12' y2='8'%3e%3c/line%3e%3c/svg%3e");

}

.btn-up_hide {
    display: none;
}

.btn-up_hiding {
    opacity: 0;
}

@media (hover: hover) and (pointer: fine) {
    .btn-up:hover {
        background-color: var(--white);
    }
}