@font-face {
    font-family: 'PT Sans Caption';
    src: local('PT Sans Caption Bold'), local('PTSans-CaptionBold'),
        url('../fonts/PTSans-CaptionBold.woff2') format('woff2'),
        url('../fonts/PTSans-CaptionBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans Caption';
    src: local('PT Sans Caption'), local('PTSans-Caption'),
        url('../fonts/PTSans-Caption.woff2') format('woff2'),
        url('../fonts/PTSans-Caption.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

