/* === ACCORDION-LIST STYLES === */

.accordion-list:not(:last-child) {
    margin-bottom: 30px;
}

.accordion-list__item {
    border: 1px solid var(--accent-color);
    border-radius: var(--b-radius);
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
    width: 100%;
}

.accordion-list__control {
    background: transparent;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    text-align: left;
    transition: var(--transition);
}

.accordion-list__item--openned .accordion-list__control {
    padding-bottom: 20px;
}

.accordion-list__title {
    line-height: 0.9;
    font-size: 42px;
}

.accordion-list__item--openned .accordion-list__title {
    padding-bottom: 20px;
}

.accordion-list__control-icon {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    transition: var(--transition);
}

.accordion-list__control-icon:hover {
    background: var(--accent-color);
    transition: var(--transition);
    transform: rotate(90deg);
}

.accordion-list__control-icon:hover path {
    fill: var(--general-bg);
}

.accordion-list__item--openned .accordion-list__control-icon {
    background: var(--accent-color);
    transform: rotate(90deg);
}

.accordion-list__item--openned .accordion-list__control-icon path {
    fill: var(--general-bg);
}

.accordion-list__content {
    max-height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.accordion-list__item--openned .accordion-list__content {
    overflow: hidden;
    transition: var(--transition);
}

.accordion-content {
    display: grid;
    grid-template-columns: 507px 231px;
    gap: 80px;
}

.accordion-content__col {
    display: flex;
    flex-direction: column;
}

.accordion-content__title {
    color: #ceaad0;
    line-height: 1.6;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.accordion-content__list {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
}

.accordion-content__list-item {
    display: flex;
    gap: 8px;
    align-items: center;
}

.accordion-content__icon {
    width: 24px;
    height: 24px;
    border: 1px solid #CEAAD0;
    border-radius: 50%;
    padding: 7.2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1100px) {
    .accordion-list__item {
        padding: 25px 30px;
    }

    .accordion-list__title {
        font-size: 35px;
    }

    .accordion-content {
        gap: 30px;
    }
}

@media (max-width: 900px) {
    .accordion-content {
        display: flex;
        flex-direction: column;
    }

    .accordion-list__item--openned .accordion-list__title {
        padding-bottom: 0px;
    }
}

@media (max-width: 600px) {
    .accordion-list:not(:last-child) {
        margin-bottom: 10px;
    }

    .accordion-list__item {
        padding: 17px 30px;
    }

    .accordion-list__title {
        font-size: 28px;
    }

    .accordion-list__control-icon {
        width: 26px;
        height: 26px;
    }

    .accordion-list__control-icon svg {
        width: 10px;
    }
}

@media (max-width: 450px) {
    .accordion-list:not(:last-child) {
        margin-bottom: 10px;
    }

    .accordion-content__title {
        padding-bottom: 7px;
    }

    .accordion-content {
        gap: 15px;
    }

    .accordion-content__list {
        gap: 7px;
    }

    .accordion-list__item {
        padding: 10px 15px;
    }

    .accordion-list__title {
        font-size: 25px;
    }

    .accordion-list__control-icon {
        width: 26px;
        height: 26px;
    }

    .accordion-list__control-icon svg {
        width: 10px;
    }
}