/* ===GLOBAL STYLES PARAMETERS=== */

:root {
    --general-text: #312c27;
    --accent-text: #1f1711;
    --general-bg: #fff9f4;
    --accent-bg: #ffe0cb;
    --accent-color: #ffa55c;
    --accent-purple: #ceaad0;
    --hover-color: #FF9138;
    --b-radius: 20px;
    --transition: all .4s;
    --input-border: #ac907a;
}

.body {
    background: var(--general-bg);
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 1.5;
    color: var(--general-text);
}

.body--openned-menu {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1310px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.main-title {
    font-family: "Gabriola", sans-serif;
    font-size: 74px;
    line-height: 0.82;
    color: var(--accent-text);
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--accent-color);
    color: var(--general-text);
    padding: 18px;
    border-radius: 100px;
    transition: all .5s;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
}

.btn:hover {
    background: var(--hover-color);
}

.section:first-child {
    padding: 140px 0 70px;
}

.section:not(:first-child) {
    padding: 70px 0;
}

.section:last-child {
    padding: 70px 0 140px;
}

.field {
    position: relative;
}

.field span {
    position: absolute;
    font-size: 11px;
    color: var(--input-border);
    top: 12px;
    left: 28px;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}

.field__input {
    border: 1px solid var(--input-border);
    border-radius: 100px;
    padding: 19px 28px;
    display: block;
    background: #00000000;
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
    transition: var(--transition);
}

.field__input:hover {
    border-color: var(--accent-color);
    transition: var(--transition);
}

.field__input::placeholder {
    color: var(--input-border);
    transition: var(--transition);
}

.field__input:hover::placeholder {
    color: var(--accent-color);
    transition: var(--transition);
}

.field__input:focus {
    border-color: var(--accent-color);
    padding: 26px 42px 19px 28px;
}

.field__input:focus+span {
    opacity: 1;
    visibility: visible;
}