/* ===HEADER STYLES PARAMETERS=== */

.header {
    background: url("../img/design/bg-header.png") 50% 100% / cover no-repeat;
}

.hero-top {
    padding-top: 19px;
}

.hero-top__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.header__logo {
    max-width: 174.22px;
    z-index: 2;
}

.header__logo img {
    width: 100%;
}

.nav__list {
    display: flex;
    gap: 40px;
}

.nav__link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.nav__link::before,
.footer__col-link::before {
    content: '';
    position: absolute;
    left: -13px;
    top: -8px;
    width: 34px;
    height: 34px;
    background: var(--accent-color);
    border-radius: 50%;
    opacity: 0;
    transition: var(--transition);
    z-index: -1;
}

.nav__link:hover::before,
.footer__col-link:hover::before {
    opacity: 1;
}

.burger-menu {
    display: none;
}