/* === MODAL STYLES PARAMETERS === */

.body--modal-openned {
    overflow: hidden;
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
    padding: 15px;
}

.body--modal-openned .modal {
    opacity: 1;
    visibility: visible;
}

.modal__window {
    display: block;
    background: var(--general-bg);
    border-radius: var(--b-radius);
    padding: 0 60px 60px;
    max-width: 428px;
    position: relative;
}

.modal__cancel {
    position: absolute;
    top: 4.682%;
    right: 4.682%;
    transition: var(--transition);
}

.modal__cancel:hover path,
.modal__cancel:hover rect {
    stroke: #704174;
    transition: var(--transition);
}

.modal__img {
    position: absolute;
    margin: -65px 0 15px 13px;
    max-width: 100%;
}

.modal__title {
    margin: 133px 0 10px;
    font-size: 42px;
    line-height: 0.9;
}

.modal__text {
    margin-bottom: 30px;
}

.modal__form {
    max-width: 308px;
}

.modal__form-input {
    margin-bottom: 10px;
}

.modal__btn {
    width: 100%;
}

@media (max-width: 450px) {
    .modal__window {
        padding: 0 15px 45px;
    }

    .modal__title {
        font-size: 35px;
    }

    .modal__img {
        max-width: 50%;
        margin-top: -45px;
    }
}