/* === RESPONSIVE === */

@media (max-width: 1200px) {
    .hero__img {
        margin-right: 0;
        max-width: 377px;
    }

    .hero__img-control {
        position: static;
        padding-top: 3vh;
        width: 90%;
    }

    /* ----------------------- */

    .program__inner {
        flex-direction: column;
        align-items: stretch;
        gap: 40px 15px;
    }

    .tab-controls {
        flex-wrap: wrap;
    }

    .program__action {
        grid: repeat(3, auto) / minmax(287px, 1fr) 1fr;
        max-width: none;
    }

    .program__img {
        display: none;
    }

    /* ----------------------- */

    .footer__inner {
        justify-content: space-between;
        grid-template: repeat(2, auto) / repeat(3, auto);
    }

    .footer__col:last-child {
        text-align: center;
        grid-column: 1 / -1;
    }

    .footer__col-copy {
        float: none;
    }
}

@media (max-width: 1000px) {
    .about__img {
        grid-row: auto;
    }

    .about__content {
        align-self: center;
    }

    .about__list {
        grid-column: -3 / -1;
    }

    .gallery__heading {
        grid: none;
    }

    .gallery__heading-text {
        max-width: 70%;
    }

    .gallery__heading-img {
        display: none;
    }
}

@media (max-width: 900px) {
    .nav {
        background: var(--general-bg);
        inset: 0;
        position: fixed;
        z-index: 1;
        padding: 25vh 0 3vh;
        font-size: 24px;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);
    }

    .nav__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4vh 40px;
    }

    .body--openned-menu .nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .burger-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50px;
        height: 50px;
        z-index: 1;
        transition: var(--transition);
    }

    .burger-menu span {
        display: block;
        background: var(--general-text);
        width: 30px;
        height: 3px;
        border-radius: 1.5px;
        position: relative;
    }

    .burger-menu span::after,
    .burger-menu span::before {
        content: '';
        display: block;
        background: var(--general-text);
        width: 30px;
        height: 3px;
        border-radius: 1.5px;
        position: absolute;
    }

    .burger-menu span::after {
        top: -8px;
    }

    .burger-menu span::before {
        bottom: -8px;
    }

    .body--openned-menu .burger-menu span {
        background: transparent;
    }

    .body--openned-menu .burger-menu span::after {
        top: 0;
        transform: rotate(45deg);
    }

    .body--openned-menu .burger-menu span::before {
        bottom: 0;
        transform: rotate(-45deg);
    }

    .footer__inner {
        gap: 0 0;
        justify-content: center;
        grid-template: none;
        text-align: center;
    }

    .socials__list {
        justify-content: center;
    }

    .footer__col:nth-child(2) {
        padding-bottom: 40px;
    }

    .footer__col:nth-child(3) {
        padding-bottom: 10px;
    }

    .footer__col:nth-child(4) {
        padding-top: 0;
    }
}

@media (max-width: 800px) {
    .hero__inner {
        flex-direction: column;
    }

    .hero__content {
        width: 100%;
        max-width: none;
        text-align: center;
        align-items: center;
        justify-items: center;
    }

    .hero__img-control--mobile {
        display: flex;
        padding: 0 0 3vh;
        width: 65vw;
    }

    .hero__img {
        display: none;
    }

    .hero-btn {
        max-width: 320px;
    }

    /* ---------------------------- */

    .about__inner {
        display: flex;
        flex-direction: column;
    }

    .about__img {
        max-width: 500px;
        align-self: center;
    }

    .about__content {
        align-items: center;
        text-align: center;
    }

    .about__list {
        grid: none;
    }

    /* -------------------------- */

    .tab-controls {
        gap: 10px;
    }

    .tab-controls__link {
        padding: 6px 20px;
    }

    /* ------------------------- */

    .opinion__heading {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .opinion__title {
    max-width: none;
    padding-bottom: 15px;
}

    .opinion__desc {
    max-width: none;
    padding-bottom: 20px;
}

    .opinion__nav {
        align-self: flex-end;
        position: sticky;
        margin-bottom: 20px;
    }

    .opinion__scrollbar.swiper-scrollbar {
        width: 50%;
        margin: 0 auto;
    }
}

@media (max-width: 600px) {
    .hero {
        padding-bottom: 80px;
    }

    .hero__title {
        font-size: 12vw;
    }

    /* -------------------- */
    .section {
        padding: 40px 0;
    }

    .about__title {
        font-size: 12vw;
    }

    .about__img-control {
        border-radius: 0;
        max-width: none;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 10px 15px;
    }

    .about__item {
        padding: 10px 15px;
        gap: 15px;
    }

    /* ------------------------- */

    .program__inner,
    .program__title {
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px 0;
        padding-bottom: 20px;
    }

    .program__action {
        grid: repeat(3, auto) / auto auto;
        gap: 15px;
    }

    .program__discount {
        max-width: 287px;
        justify-self: center;
        grid-row: auto;
        grid-column: 1 / -1;
    }

    /* --------------------------- */

    .gallery__heading {
        grid: none;
        text-align: center;
        padding-bottom: 0;
    }

    .gallery__heading-text {
        max-width: none;
        gap: 10px;
    }

    .gallery__nav {
        position: static;
        margin: 0 auto;
        padding: 10px 0;
    }

    /* ------------------------- */

    .opinion__heading {
        align-items: center;
        text-align: center;
    }

    .opinion__nav {
        align-self: center;
    }

    .opinion__slide {
    flex-direction: column;
    align-items: center;
    text-align: center;
}
}

@media (max-width: 450px) {

    .program__action,
    .program__price {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .opinion__slide {
    padding: 30px 10px;
}
}