/* === PROGRAM-SECTION STYLES PARAMETERS=== */

.program__title {
    line-height: .82;
}

.program__inner {
    padding: 20px 0 60px;
    display: flex;
    justify-content: space-between;
}

.tab-controls {
    display: flex;
    gap: 26.33px;
    align-items: center;
}

.tab-controls__link {
    background: var(--general-bg);
    box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0.3);
    border-radius: 100px;
    padding: 14px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    white-space: nowrap;
}

.tab-controls__link:hover {
    background: var(--accent-bg);
    box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0.3);
}

.tab-controls__link--active {
    background: var(--accent-bg);
    transition: var(--transition);
}

.tab-content {
    display: none;
}

.tab-content--show {
    display: block;
    padding-bottom: 40px;
}

.program__inner-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 92px;
}

.program__action {
    display: grid;
    grid: repeat(3, auto) / 1.65fr 1fr;
    gap: 40px;
    max-width: 501px;
    flex-shrink: 0;
    width: 100%;
}

.program__discount {
    background: var(--accent-bg);
    padding: 40px;
    width: 100%;
    border-radius: var(--b-radius);
    grid-row: 1 / 3;
    font-size: 20px;
}

.program__discount-value {
    display: block;
    font-family: "Gabriola";
    font-size: 74px;
    line-height: .82;
    margin: 0 0 7px 13%;
    color: var(--accent-color);
    transform-origin: 0 0;
    animation: discount-grow .8s linear infinite alternate;
}

@keyframes discount-grow {
    0% {
        transform: scale(1);
        color: var(--accent-color);
    }

    100% {
        transform: translateX(3%) scale(1.1);
        color: var(--hover-color);
    }
}

.program__discount span {
    font-size: 16px;
    margin-left: 35%;
}

.program__price {
    display: flex;
    flex-direction: column;
}

.program__price-text {
    line-height: 1.6;
    text-transform: uppercase;
    color: var(--accent-purple);
    margin-bottom: 5px;
}

.program__price-value {
    font-family: "Gabriola";
    font-size: 32px;
    line-height: 0.9;
    color: var(--accent-text);
}

.program__price-value--big {
    font-size: 50px;
}

.program__btn {
    grid-column: 1 / -1;
    grid-row: 3 / -1;
}

.program__img img {
    width: 100%;
}
