/* === ABOUT-SECTION STYLES PARAMETERS=== */

.about__inner {
    display: grid;
    grid: repeat(2, auto) / 1fr 1.05fr;
    gap: 40px 53px;
}

.about__img {
    max-width: 603px;
    overflow: hidden;
    position: relative;
    border-radius: var(--b-radius);
    grid-row: 1 / -1;
}

.about__img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 50%;
}

.about__img-control {
    position: absolute;
    background: rgba(149, 123, 151, 0.9);
    padding: 15px 20px;
    max-width: 299px;
    border-radius: var(--b-radius);
    color: var(--general-bg);
    display: flex;
    align-items: center;
    gap: 10px;
    bottom: 25px;
    left: 30px;
}

.about__img-btn {
    background: var(--general-bg);
    border-radius: 39px;
    padding: 39px;
    width: 78px;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.about__img-gift {
    width: 34px;
    height: 34px;
}

.about__img-btn::before {
    content: '';
    position: absolute;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    border: 1px solid #ceaad0;
    opacity: 0;
    transition: var(--transition);
}

.about__img-btn:hover::before {
    content: '';
    position: absolute;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    border: 1px solid #ceaad0;
    opacity: 1;
    transition: var(--transition);
}

.about__content {
    display: flex;
    flex-direction: column;
}

.about__heading {
    padding-bottom: 30px;
}

.about__desc {
    padding-bottom: 40px;
}

.about__list {
    display: grid;
    grid: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 32px;
}

.about__item {
    display: flex;
    align-items: center;
    background: var(--accent-bg);
    border-radius: var(--b-radius);
    padding: 29px 24px;
    gap: 15px;
}

.about__item-img {
    width: 60px;
    height: 60px;
    border: 1px solid var(--general-text);
    border-radius: 30px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
