/* === GALLERY-SECTION STYLES PARAMETERS === */

.gallery__heading {
    display: grid;
    grid: 1fr / repeat(2, 1fr);
    padding-bottom: 40px;
    position: relative;
}

.gallery__heading-img {
    justify-self: center;
    align-self: center;
    max-width: 470px;
}

.gallery__heading-img img {
    width: 100%;
}

.gallery__heading-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 380px;
    align-self: flex-end;
    flex-shrink: 0;
}

.gallery__nav {
    display: inline-flex;
    justify-content: space-between;
    max-width: 170px;
    width: 100%;
    align-self: flex-end;
    position: absolute;
    bottom: 14.96%;
    right: 0;
}

.gallery__pagination {
    justify-content: center;
}

.gallery__prev {
    transform: rotate(180deg);
    justify-self: flex-start;
}

.gallery__prev,
.gallery__next {
    background: transparent;
    cursor: pointer;
    display: flex;
    width: 36px;
    height: 36px;
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}

.gallery__prev:hover,
.gallery__next:hover {
    background: var(--accent-color);
    transition: var(--transition);
}

.gallery__prev:hover path,
.gallery__next:hover path {
    fill: var(--general-bg);
    transition: var(--transition);
}

.swiper-button-disabled,
.swiper-button-disabled:hover {
    background: transparent;
    border: 1px solid #E1D9E1;
    cursor: default;
    transition: var(--transition);
}

.swiper-button-disabled path,
.swiper-button-disabled:hover path {
    fill: #E1D9E1;
    transition: var(--transition);
}

.gallery__pagination {
    display: flex;
    font-family: "Gabriola";
    font-size: 42px;
    line-height: 0.9;
}

.gallery__next {
    justify-self: flex-end;
}

.gallery__slide {
    overflow: hidden;
    border-radius: var(--b-radius);
}

.gallery__slide img {
    width: 100%;
}