.spoiler-inner {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 60px 0;
}

.spoiler {
    width: 100%;
    background: var(--gray);
    border: 1px solid #e3e3e3;
    border-radius: 20px;
}

.spoiler::details-content {
    display: block;
    block-size: 0;
    overflow: hidden;
    transition: all .3s allow-discrete;
}

.spoiler[open]::details-content {
    block-size: auto;
    block-size: calc-size(auto, size);
}

.spoiler-link {
    font-size: 24px;
    background: var(--turquoise);
    color: var(--white);
    padding: 15px 30px;
    border-radius: 20px;
    cursor: pointer;
}

.spoiler-text {
    background: var(--gray);
    padding: 15px 30px;
    border-radius: 20px;
}